<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>我的书签</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        ul li{
            list-style: none;
            color:red;
            font-size: 20px;
        }
        .title{
            color:#151414;
        }
        body{
            background: url("/Image/bg3.jpg");
        }
        .container{
            opacity: 0.6;
        }
        tr{
            cursor: pointer;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function deleteRow(r)
        {
            var i=r.parentNode.parentNode.rowIndex;
            document.getElementById('table').deleteRow(i);

        }
        $(document).ready(function (e) {
            $(this).keydown(function (e) {
                if(e.which=="13")
                {
                    $("#find").click();
                }

            });
            $("#zp").click(function () {
                window.location.href="zp";
            })
            $("#find").click(function () {
                var title1=$("#title").val();
                if(title1.length==0)
                {   alert("请输入信息搜索！");
                    return;
                }
                window.location.href="/find?title="+title1;
            });
            $("#add").click(function () {
                var text=$("#text").val();
                if(text.length==0)
                {
                    return;
                }
               $.get("/save",{url:text},function (result) {
                   if(result["url"]!=null)
                   {
                       $("#error").html("该链接已被添加！");
                   }
                  else{
                       window.location.reload();
                   }
               })
            });
        })

    </script>
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="search"><input type="text" style="width: 300px;" name="ser" id="title" placeholder="请输入网站标题" th:value="${ser}"> <button class="btn btn-info" id="find">搜索</button></div>
        <ul><li id="error"></li></ul>
        <div class="save"><input type="text" style="width: 300px;" name="url" id="text" placeholder="请输入网址添加书签"> <button class="btn btn-info" id="add">添加新书签</button>&nbsp;&nbsp;<button class="btn btn-info" id="zp">招聘信息查询</button></div>

        <div class="panel-heading">
            <h3 class="panel-title text-center">
                <a href="/">我的书签</a>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table  table-hover" style="word-break:break-all;" id="table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>网站标题</th>
                    <th>网站链接</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                  <tr th:each="myblog,index: ${myblog}">
                      <td th:text="${index.count}"></td>
                      <td class="title" th:text="${myblog.title}"></td>
                      <td ><a th:href="${myblog.url}" target="_blank" th:text="${myblog.url}"></a></td>
                      <td th:text="${#dates.format(myblog.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td><a th:href="'/del/?id=' + ${myblog.id}"  target="hidden" onclick="if(confirm('确定删除吗?')==false)return false;else{deleteRow(this);return true}">删除</a></td>
                  </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<iframe name="hidden" id="hidden" style="display:none"></iframe>
</body>
</html>
